body{
   color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
hr{
    width: 5%;
    border-style: dotted none none;
    border-width: 6px;
    border-color: #E3F4F4;
    background-color: white;
   
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66bfbf;
    margin: 50px auto 0;
    
}

h2{
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem ;
    font-weight: normal;
    padding-bottom: 10px;
    
}
h3{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
   
    
}
.top{
    background-color: #E3F4F4;
    position: relative;
    padding-top: 100px;

}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;

}
.profile{
    margin:75px auto 100px ;
    width: 30%;
    line-height: 2;
   
   
}
.profile-pic{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}
.profile-des{
    text-align: justify;
}
.skills{
    margin-top: 100px;
    margin-bottom: 100px;
}
.skill-row{
    width: 50%;
    margin:100px auto;
    text-align: left;
    line-height: 2;
    
}
.skill-1{
    border-radius: 100%;
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-2{
    border-radius: 100%;
    width: 25%;
    float: right;
    margin-left: 30px;
}
.contact-me{
    margin-top: 100px;
    margin-bottom: 100px;
    line-height: 2;
}
.btn {
    margin-top: 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 100;
    padding: 7px;
    background-color: #66BFBF;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #11999e;
    background-image: -webkit-linear-gradient(top, #11999e, #3D94F6);
    background-image: -moz-linear-gradient(top, #11999e, #3D94F6);
    background-image: -ms-linear-gradient(top, #11999e, #3D94F6);
    background-image: -o-linear-gradient(top, #11999e, #3D94F6);
    background-image: -webkit-gradient(to bottom, #11999e, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .bottom-container{
    height: 150px;
    background-color: #66BFBF;
    padding-top: 50px; 
    line-height: 2;
 }
.footer-link{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    width: 8%;
    text-decoration: none;
    
}
.footer-link:hover{
    color: white;
}
.footer-para{
    color: white;
    margin-top: 50px;
    font-size: 12px;
}
